<div ng-cloak>
    <md-button class="md-raised md-primary" ng-if="add" ng-click="generateCharacter();">
        <md-icon class="material-icons">supervisor_account</md-icon>&nbsp;Gerar aleatorio
    </md-button>
    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">{{vm.character.name}}</span>
                <span class="md-subhead">
                    <p>{{vm.character.race}} {{vm.character.gender === 'F' ? 'Feminino' : 'Masculino'}} Nivel: {{vm.character.level}}</p>
                    <span ng-repeat="cl in vm.character.classes"><span ng-if="!$first">&nbsp;</span>{{cl.cl.nome}}/{{cl.qtd}}</span>
                </span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td>{{vm.character.strength}}</td>
                        <td>Força</td>
                        <td>mod {{vm.character.strengthModifier}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{vm.character.dexterity}}</td>
                        <td>Destreza</td>
                        <td>mod {{vm.character.dexterityModifier}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{vm.character.constitution}}</td>
                        <td>Constituição</td>
                        <td>mod {{vm.character.constitutionModifier}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{vm.character.intelligence}}</td>
                        <td>Inteligencia</td>
                        <td>mod {{vm.character.intelligenceModifier}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{vm.character.wisdom}}</td>
                        <td>Sabedoria</td>
                        <td>mod {{vm.character.wisdomModifier}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{vm.character.charisma}}</td>
                        <td>Carisma</td>
                        <td>mod {{vm.character.charismaModifier}}</td>
                    </tr>
                </tbody>
            </table>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Ver</md-button>
            <md-button>Administrar</md-button>
        </md-card-actions>
    </md-card>
</div>