<div ng-cloak>
    <div layout="row">
       <md-button class="md-primary" type="button" ui-sref="workspace.personagens">
            <md-icon class="material-icons" aria-label="arrow_back">arrow_back</md-icon>&nbsp;Voltar para a lista
        </md-button>
    </div>
    <div layout="row">
    <md-button class="md-raised md-primary" ng-if="addNew" ng-click="generateCharacter();">
        <md-icon class="material-icons">supervisor_account</md-icon>&nbsp;Gerar aleatorio
    </md-button>
    <md-button class="md-raised md-primary" ng-click="saveCharacter();" ng-disabled="!vm.character.name || !newChar">
        <md-icon class="material-icons">save</md-icon>&nbsp;Salvar Novo
    </md-button>
    </div>
    <md-card>
        <md-card-header>
            <!--md-card-avatar ng-if="vm.character.primaryClass">
                <img ng-src="public/app/dist/img/{{vm.character.primaryClass}}.jpeg" class="md-avatar character-avatar" alt="{{vm.character.name}}"/>
            </md-card-avatar-->
            <md-card-title-text layout="column">
                <span class="md-title">{{vm.character.name}} [{{vm.character.hp}}]</span>
                <span class="md-subhead">
                    <p>{{vm.character.race}} {{vm.character.gender === 'F' ? 'Feminino' : 'Masculino'}} Nivel: {{vm.character.level}} [{{vm.character.power}}]</p>
                    <span>
                        <span ng-repeat="cl in vm.character.classes"><span ng-if="!$first">&nbsp;</span>{{cl.cl.nome}}/{{cl.qtd}}</span>
                    </span>
                </span>
            </md-card-title-text>
        </md-card-header>
        <md-card-content>
            <div>
                <table>
                    <tbody>
                    <tr class="character-ability-row character-ability-strength">
                        <td class="character-ability-item character-ability-icon">
                            <span class="character-ability-icon-img"></span>
                        </td>
                        <td class="character-ability-item">{{vm.character.strength}}</td>
                        <td class="character-ability-item">Força</td>
                        <td class="character-ability-item">mod {{vm.character.strengthModifier}}</td>
                    </tr>
                    <tr class="character-ability-row character-ability-dexterity">
                        <td class="character-ability-item character-ability-icon">
                            <span class="character-ability-icon-img"></span>
                        </td>
                        <td class="character-ability-item">{{vm.character.dexterity}}</td>
                        <td class="character-ability-item">Destreza</td>
                        <td class="character-ability-item">mod {{vm.character.dexterityModifier}}</td>
                    </tr>
                    <tr class="character-ability-row character-ability-constitution">
                        <td class="character-ability-item character-ability-icon">
                            <span class="character-ability-icon-img"></span>
                        </td>
                        <td class="character-ability-item">{{vm.character.constitution}}</td>
                        <td class="character-ability-item">Constituição</td>
                        <td class="character-ability-item">mod {{vm.character.constitutionModifier}}</td>
                    </tr>
                    <tr class="character-ability-row character-ability-intelligence">
                        <td class="character-ability-item character-ability-icon">
                            <span class="character-ability-icon-img"></span>
                        </td>
                        <td class="character-ability-item">{{vm.character.intelligence}}</td>
                        <td class="character-ability-item">Inteligencia</td>
                        <td class="character-ability-item">mod {{vm.character.intelligenceModifier}}</td>
                    </tr>
                    <tr class="character-ability-row character-ability-wisdom">
                        <td class="character-ability-item character-ability-icon">
                            <span class="character-ability-icon-img"></span>
                        </td>
                        <td class="character-ability-item">{{vm.character.wisdom}}</td>
                        <td class="character-ability-item">Sabedoria</td>
                        <td class="character-ability-item">mod {{vm.character.wisdomModifier}}</td>
                    </tr>
                    <tr class="character-ability-row character-ability-charisma">
                        <td class="character-ability-item character-ability-icon">
                            <span class="character-ability-icon-img"></span>
                        </td>
                        <td class="character-ability-item">{{vm.character.charisma}}</td>
                        <td class="character-ability-item">Carisma</td>
                        <td class="character-ability-item">mod {{vm.character.charismaModifier}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-card-content>
        <!-- md-card-actions layout="row" layout-align="end center">
            <md-button>Ver</md-button>
            <md-button>Administrar</md-button>
        </md-card-actions -->
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-header-text layout="column">
                <span class="md-title">Equipamentos [{{vm.character.items.length}}]</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="item in vm.character.items">
                    <div class="md-list-item-text">
                        <h3>{{item.nome}}</h3>
                        <p>Tabela: {{item.tabela}} Poder: {{item.poder}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-header>
            <md-card-header-text layout="column">
                <span class="md-title">Background</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>Aparencia</p>
            <p class="md-caption">{{vm.character.appearance}}</p>
            <p>Maneirismo</p>
            <p class="md-caption">{{vm.character.maneirism}}</p>
        </md-card-content>
    </md-card>
</div>
